extends layout

block content
	div.header
		div.centerDiv

	div.container
		div.form-signin
			h1.textCenter Reminder Submitted!
			br
			br
			p.textCenter Thanks for using this service! Click here to submit another reminder!
			br
			a(href="/")
					button.btn.btn-lg.btn-primary.btn-block Home Page

						