.Content {
  flex: 1;
    .post + .post {
        margin-top: 2em;
    }
    .date {
        display: block;
        margin: 0;
        opacity: 0.7;

        @media (min-width: 1200px){
          position: absolute;
          width: 7em;
          text-align: right;
          margin-left: -9em;
        }
    }
    .intro {
        margin-bottom: 0.5em;
    }
    img {
        max-width: 100%;
        height: auto;
        margin: auto;
    }
}
