.Header {
    width: 100%;
    background: url("../images/header.jpg");
    background-size: cover;
    height: 30em;
    border-bottom: solid;
    border-width: 1px;
    border-color: #DADADA;
    h1 {
        text-align: center;
    }
}