.SensorInfo{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    min-height: 600px;
    width: 80%;
    .selector-row{
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        select{
            margin-left: 5px;
        }
    }
    .home{
        margin-top: 1em;
    }
}