.SensorList{
    .row{
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        margin-left: -1em;
        margin-right: -1em;
        padding: 1em;
        
        &:hover{
            background-color: #D1D1D1;
        }
        
        .temperature{
            flex: .5;
        }
        
        .info{
            margin-left: 1em;
            flex: 1;
        }
        
        h2{
            margin-bottom: 0;
        }
        
        .date{
            font-size: .8em;
        }
    }
    
    .connected{
        color: green;
    }
    .disconnected{
        color: red;
    }
    
}