extends layout

block content
	div.header
		div.centerDiv
			h1.headerText.textCenter mitchellG.me

	div.container
		h1.textCenter Enter Reminder
		form(action="/", method="post")
			div.form-signin
				Span Phone Number:
				if (number != null)
					Span.colorRed= " " + number
				br
				input.form-control(required type="text", name="number", placeholder="555-555-5555")
				br
				Span Carrier:
				select.form-control(name="carrier")
					option(value="@vtext.com") Verizon
					option(value="@txt.att.net") AT&T
					option(value="@tmomail.net") T-Mobile
					option(value="@messaging.sprintpcs.com ") Sprint
					option(value="@vmobl.com") Virgin Mobile
					option(value="@mmst5.tracfone.com") Tracfone
					option(value="@mymetropcs.com") Metro PCS
					option(value="@myboostmobile.com") Boost Mobile
					option(value="@sms.mycricket.com") Cricket
					option(value="@messaging.nextel.com") Nextel
					option(value="@message.alltel.com") Alltel
					option(value="@ptel.com") Ptel
					option(value="@tms.suncom.com") Suncom
					option(value="@qwestmp.com") Quest
					option(value="@email.uscc.net") U.S. Cellular
				br
				Span Date:
				if (date != null)
					Span.colorRed= " " + date
				br
				input.form-control(required type="text", name="date", id="datepicker" placeholder="MM/DD/YYYY")
				br
				Span Time:
				if (time != null)
					Span.colorRed= " " + time
				br
				input.form-control(required type="text", name="time", id="timepicker" placeholder="12:00am")
				br
				Span Message:
				textarea.form-control(required type="textarea", name="message", placeholder="Type your message here...")
				br
				input(hidden type="text" name="timeZone" id="timeZone")
				input(type="submit", value="Remind Me", id="submitButton").btn.btn-lg.btn-primary.btn-block

					