doctype html
html
  head
    title= "Mithell's Node.js Project"
    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='jquery-ui-1.11.4/jquery-ui.css')
    link(rel='stylesheet', href='jquery-timepicker/jquery.timepicker.css')
    link(href='http://fonts.googleapis.com/css?family=Arvo', rel='stylesheet', type='text/css')
  body
    block content
  script(src="http://code.jquery.com/jquery-latest.min.js")
  script(src="bootstrap/js/bootstrap.js")
  script(src="jquery-ui-1.11.4/jquery-ui.js")
  script(src="jquery-timepicker/jquery.timepicker.js")
  script(src="javascripts/notify.min.js")
  script(src="javascripts/custom.js")