<!DOCTYPE html>
<html lang="en">

<head>
	<title>mitchellg.me</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/jquery-ui-1.11.4.custom/jquery-ui.css">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.icon-large.min.css">
	<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
</head>

