<% include layout.ejs %>

<body>

<% include ../public/html/header.html %>
<% include ../public/html/navbar.html %>

  <div class="container">

      <form action="/newpost" method="post" enctype="multipart/form-data" class="form-file">
        <h2 class="text-center">Submit New Post</h2>
        <br>
        <input type="password"  class="form-control" name="key" placeholder="Key" required>

        <!--<input class="center btn btn-default" type="file" name="file">-->
        <br>

        <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse… <input type="file" name="file" required>
                    </span>
                </span>
                <input id="input_file" type="text" class="form-control" readonly="">
            </div>
        
        <br>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        
        <br>

        <% 
          if (typeof message != 'undefined'){ %>

            <div class="text-center colorRed"><%=message%></div>

        <%}%>

      </form>
      

    </div>

</body>

<% include layoutBottom.ejs %>