<%include layout.ejs %>

<body>
<% include ../public/html/header.html %>
<% include ../public/html/navbar.html %>

<div class="container">
	<div class="form-signin">
		<h1 class="textCenter">Reminder Submitted!</h1>
		<br>
		<br>
		<p class="textCenter">Thanks for using this service! Click here to submit another reminder!<p>
		<br>
		<a href="/"><button class="btn btn-lg btn-primary btn-block">Home Page</button></a>
	</div>
</div>


</body>

<%include layoutBottom.ejs%>