<% include layout.ejs %>

<body>

<% include ../public/html/header.html %>
<% include ../public/html/navbar.html %>

  <div class="container">

      <form enctype="multipart/form-data" class="form-file">
        <h2 class="text-center">File Upload</h2>
        <br>
        <input type="password"  class="form-control" name="key" placeholder="Key" required>

        <!--<input class="center btn btn-default" type="file" name="file">-->
        <br>

        <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse… <input type="file" name="file" required>
                    </span>
                </span>
                <input id="input_file" type="text" class="form-control" readonly>
            </div>
        
        <br>

        <button id="upload-form" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        
        <br>

        <div id="response" class="text-center colorRed"></div>

      </form>

        <h1 class="text-center">Files</h1>
        <div class="form-file">
          <% if (typeof files != 'unefined'){
                for(var i = 0; i < files.length; i++){%>
                    <a href="/uploads/<%=files[i]%>"><%=files[i]%></a>
                    <br> 
          <%    }
            }%>
        </div>
    </div>
<div class="modal"><!-- Place at bottom of page --></div>
</body>

<% include layoutBottom.ejs %>
<script src="/javascript/upload.js"></script>