<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div ng-repeat="post in posts">
				<h2 class="blog-post-title">{{post.title}}</h2>

				<p class="blog-post-meta">{{post.date}}</p>

				<p>{{post.intro}}
				<br>
				<a href="/post/{{post.name}}">Continue reading...</a>
				</p>
            </div>
        </div>
        <!-- new blog posts-->
        <div class="col-sm-4 blog-sidebar">
            <h1 class="text-center">About Me</h1>
            <img class="aboutMeImage center img-rounded" src="/public/images/aboutme.jpg">
            <br>
            <div class="sidebar-module sidebar-module-inset">
                <p> I'm 22 years old and currently attending Winona State University as a Computer Science major. I am graduating in Spring of 2016 and plan to pursue a career in the field of software development.
                </p>
            </div>
        </div>
    </div>
</div>
