<div class="container">
    <br>
    <h1 class="text-center" id="sensor-location">{{location}}</h1>
    <hr>
    <br>
    <form class="text-center form-inline">
        <div class="form-group">
            <select class="form-control" id="option-year">
                <option value=">">Years</option>
            </select>
        </div>
    </form>
    <br>
    <div id="canvas1-id">
        <canvas class="center" id="info-chart-year" width="800" height="400"></canvas>
    </div>
    <br>
    <div id="legend-year" class="chart-legend"></div>
    <form class="text-center form-inline">
        <div class="form-group">
            <select class="form-control" id="option-month">
                <option value="">Month + Year</option>
            </select>
        </div>
    </form>
    <br>
    <div id="canvas2-id">
        <canvas class="center" id="info-chart-month" width="800" height="400"></canvas>
    </div>
    <br>
    <div id="legend-month" class="chart-legend"></div>
</div>
<br>
<br>
<div class="modal">
    <!-- Place at bottom of page -->
</div>
