<div class="container">
    <br>
    <h1 class="text-center">ESP8266 Temperature Sensors</h1>
    <p><span class="colorRed">Note:</span> As of 5-22-16 I have redone the entire back and front end of this website. Along with that, many database queries have been changed to be more optimized. Because of this I have gotten rid of all older data and am starting a fresh database.
    </p>
    <hr>
    <div ng-repeat="sensorInfo in information">
        <div class="col-lg-4">
            <h3>{{sensorInfo.location}}</h3>
            <h4>Temperature: {{sensorInfo.temperature}}°F </h4>
            <span>Updated: {{sensorInfo.date}}</span>
            <br>
            <span class="{{sensorInfo.css}}">{{sensorInfo.status}}</span>
            <br>
            <br>
            <a href="/sensors/{{sensorInfo.location}}">
                <button class="btn btn-default">View Graph</button>
            </a>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
