<div class="container">
    <br>
    <h1 class="text-center" id="sensor-location">{{location}}</h1>
    <hr>
    <br>
    <form class="text-center form-inline">
        <div class="form-group">
            Year:
            <select class="form-control" id="option-year" ng-options="item as item.year for item in list" ng-model="selectedObject" ng-change="selectedMonth = selectedObject.months[0]; onYearChange(selectedObject);">
            </select>
            <img ng-show="loadingYear" src="/public/images/loading.gif" alt="loading">
        </div>
    </form>
    <br>
    <div id="canvas1-id">
        <canvas class="center" id="info-chart-year" width="800" height="400"></canvas>
    </div>
    <br>
    <form class="text-center form-inline">
        <div class="form-group">
            Month:
            <select class="form-control" id="option-month" ng-options="month as month for month in selectedObject.months" ng-model="selectedMonth" ng-change="onMonthChange(selectedObject)">
            </select>
            <img ng-show="loadingMonth" src="/public/images/loading.gif" alt="loading">
        </div>
    </form>
    <br>
    <div id="canvas2-id">
        <canvas class="center" id="info-chart-month" width="800" height="400"></canvas>
    </div>
</div>
<br>
<br>
<div class="modal">
    <!-- Place at bottom of page -->
</div>
